.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.tag {
  display: inline-block;
  padding: 3px 14px;
  margin: 5px;
  background: #007bff;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  margin-top: 25px;
  
}

.title {
  color:#50bb62;
  border: 1px solid;
  padding: 15px;
  border-radius: 50px;
}

.fullName {
  color: #50bb62;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 10px;
  display: block;
  font-size: 30px;
  border-bottom: solid;
}

.img{

display: inline;
border-radius: 50%;
margin: 20px;
width: 200px;
height: 200px;

}

.email {
  display: inline-block;
  margin-top: 30px;
  color: #ababab;
}

.phone {
  display: block;
  width: 300px;
  color: #ababab;
  margin: 0 auto;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
  

}

.register {
  margin-top: 20px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.about {
  width: 80%;
  margin: 0 auto;
}

.test {
  background: #60f4ed3b;
}

.btn {
  padding:20px;
  margin: 20px;
  width: 100px;
}